Django-gdg-project/to do app/Task.py
Django-gdg-project/my_first_project/my_first_project/__init__.py
Django-gdg-project/my_first_project/my_first_project/asgi.py
Django-gdg-project/my_first_project/my_first_project/settings.py
Django-gdg-project/my_first_project/my_first_project/urls.py
Django-gdg-project/my_first_project/my_first_project/wsgi.py
`
Django-gdg-project/.env.example
